<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login y Registro</title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>

<body>

    <div class="contenedor">

        <div class="formularios">

            <div class="caja">

                <h2>Inicio de Sesión</h2>

                <div class="grupo">
                    <label>E-mail</label>
                    <input type="email">
                </div>

                <div class="grupo">
                    <label>Contraseña</label>
                    <input type="password">
                </div>

                <button class="btn-login">Iniciar Sesión</button>

            </div>

            <div class="caja">

                <h2>Registro</h2>

                <div class="grupo">
                    <label>Nombre</label>
                    <input type="text">
                </div>

                <div class="grupo">
                    <label>E-mail</label>
                    <input type="email">
                </div>

                <div class="grupo">
                    <label>Contraseña</label>
                    <input type="password">
                </div>

                <div class="grupo">
                    <label>Conf. Contraseña</label>
                    <input type="password">
                </div>

                <button class="btn-registro">Registrar</button>

            </div>

        </div>

    </div>

</body>

</html>