<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login y Registro</title>
    <link rel="stylesheet" href="../static/css/style4.css">
</head>

<body>

    <div class="contenedor">

        <h1>Editar Usuario</h1>

        <div class="grupo">
            <label>Nombre</label>
            <input type="text" value="Patricia">
        </div>

        <div class="grupo">
            <label>E-mail</label>
            <input type="email" value="patricia@codingdojo.com">
        </div>

        <div class="grupo">
            <label>Contraseña</label>
            <input type="password" value="123456">
        </div>

        <div class="grupo">
            <label>Conf. Contraseña</label>
            <input type="password" value="123456">
        </div>

        <div class="grupo">
            <label>Tipo de Usuario</label>

            <select>
                <option>Administrador</option>
                <option>Usuario</option>
            </select>
        </div>

        <button>Crear</button>

    </div>

</body>
</html>