<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login y Registro</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>

    <div class="contenedor">

        <table>

            <tr>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Tipo Usuario</th>
                <th>Acciones</th>
            </tr>

            <tr>
                <td>Patricia</td>
                <td>patricia@codingdojo.com</td>
                <td>Admin</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

            <tr>
                <td>Andrea</td>
                <td>andrea@codingdojo.com</td>
                <td>Usuario</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

            <tr>
                <td>Katya</td>
                <td>katya@codingdojo.com</td>
                <td>Usuario</td>
                <td class="acciones">✏️ 🗑️ ✉️</td>
            </tr>

        </table>

    </div>

</body>
</html>