<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera plantilla</title>
</head>
<body>

    <h1>Bienvenido a Flask</h1>
    <p>Curso {{curso}}</p>
    <p>Ciudad {{ciudad}}</p>
    <p>Año {{anio}}</p>
    {% if profesor %}

<p>Bienvenido profesor.</p>
{% else %}
<p>Bienvenido estudiante.</p>
{% endif %}

<ul>
{% for tecnologia in tecnologias %}
<li>{{ tecnologia }}</li>
{% endfor %}</ul>

    
</body>
</html>